<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="simple/base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body text-center">
            <img src="" th:src="@{/image/img.png}" height="200px" width="200px" alt="">
        </div>
        <div class="container">
            <h1 class="text-center text-secondary mt-4">Start Adding Your Contact On Cloud...</h1>
        </div>
        <a th:href="@{/user/addcontact}" class="btn btn-primary btn-block text-uppercase mt-4 md-4">Add New Contact</a>
    </div>
</div>
</body>
</html>