<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::body})"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Change Password Page</title>
</head>
<body>
<section>
    <div id="login" style="height:220px;">
        <div class="container">
            <div class="row justify-content-center align-item-center">
                <h4 class="text-center mt-3">Enter New Password</h4>
                <form method="post" action="" th:action="@{/changePassword}" >
                    <div class="form-group mt-3">
                        <input type="Password" name="newPassword" id="" class="form-control" placeholder="Enter new password here " required/>
                    </div>
                    <div class="container mt-4 text-center">
                        <button class="btn btn-primary">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>