<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center" >
    <div class="text-center">
        <h2 class="font-weight-bold">Smart Contact Manager</h2>
        <p>Start Collecting Your Contact in very Smarter Way.We provide vert efficient and smarter way of handling contact</p>
        <button class="btn bg-primary btn-lg">Get Started</button>
    </div>
</section>
</body>
</html>